Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [Users] (
        [Id] uniqueidentifier NOT NULL,
        [Email] nvarchar(450) NOT NULL,
        [PasswordHash] nvarchar(max) NOT NULL,
        [Name] nvarchar(max) NULL,
        [AvatarUrl] nvarchar(max) NULL,
        [Roles] nvarchar(max) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [Groups] (
        [Id] uniqueidentifier NOT NULL,
        [Name] nvarchar(max) NOT NULL,
        [Description] nvarchar(max) NULL,
        [CreatedById] uniqueidentifier NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Groups] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Groups_Users_CreatedById] FOREIGN KEY ([CreatedById]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [GroupMessages] (
        [Id] uniqueidentifier NOT NULL,
        [GroupId] uniqueidentifier NOT NULL,
        [SenderId] uniqueidentifier NOT NULL,
        [Content] nvarchar(max) NOT NULL,
        [SentAt] datetime2 NOT NULL,
        [EditedAt] datetime2 NULL,
        [DeletedAt] datetime2 NULL,
        CONSTRAINT [PK_GroupMessages] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_GroupMessages_Groups_GroupId] FOREIGN KEY ([GroupId]) REFERENCES [Groups] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_GroupMessages_Users_SenderId] FOREIGN KEY ([SenderId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [Meetings] (
        [Id] uniqueidentifier NOT NULL,
        [HostId] uniqueidentifier NOT NULL,
        [GroupId] uniqueidentifier NULL,
        [Title] nvarchar(max) NOT NULL,
        [Description] nvarchar(max) NULL,
        [ScheduledStart] datetime2 NOT NULL,
        [ScheduledEnd] datetime2 NULL,
        [Status] nvarchar(max) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Meetings] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Meetings_Groups_GroupId] FOREIGN KEY ([GroupId]) REFERENCES [Groups] ([Id]) ON DELETE SET NULL,
        CONSTRAINT [FK_Meetings_Users_HostId] FOREIGN KEY ([HostId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [UserGroups] (
        [UserId] uniqueidentifier NOT NULL,
        [GroupId] uniqueidentifier NOT NULL,
        [Role] nvarchar(max) NOT NULL,
        [JoinedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_UserGroups] PRIMARY KEY ([UserId], [GroupId]),
        CONSTRAINT [FK_UserGroups_Groups_GroupId] FOREIGN KEY ([GroupId]) REFERENCES [Groups] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_UserGroups_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [ChatMessages] (
        [Id] uniqueidentifier NOT NULL,
        [MeetingId] uniqueidentifier NOT NULL,
        [SenderId] uniqueidentifier NOT NULL,
        [Content] nvarchar(max) NOT NULL,
        [SentAt] datetime2 NOT NULL,
        CONSTRAINT [PK_ChatMessages] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_ChatMessages_Meetings_MeetingId] FOREIGN KEY ([MeetingId]) REFERENCES [Meetings] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_ChatMessages_Users_SenderId] FOREIGN KEY ([SenderId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [EngagementMetrics] (
        [Id] uniqueidentifier NOT NULL,
        [MeetingId] uniqueidentifier NOT NULL,
        [UserId] uniqueidentifier NOT NULL,
        [TotalSpeakingTimeSeconds] float NOT NULL,
        [MessagesSent] int NOT NULL,
        [ReactionsCount] int NOT NULL,
        [HandRaises] int NOT NULL,
        [ScreenShareDurationSeconds] float NOT NULL,
        [LastActiveAt] datetime2 NULL,
        CONSTRAINT [PK_EngagementMetrics] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_EngagementMetrics_Meetings_MeetingId] FOREIGN KEY ([MeetingId]) REFERENCES [Meetings] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_EngagementMetrics_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [MeetingParticipants] (
        [Id] uniqueidentifier NOT NULL,
        [MeetingId] uniqueidentifier NOT NULL,
        [UserId] uniqueidentifier NOT NULL,
        [Role] nvarchar(max) NOT NULL,
        [JoinedAt] datetime2 NOT NULL,
        [LeftAt] datetime2 NULL,
        [IsActive] bit NOT NULL,
        CONSTRAINT [PK_MeetingParticipants] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_MeetingParticipants_Meetings_MeetingId] FOREIGN KEY ([MeetingId]) REFERENCES [Meetings] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_MeetingParticipants_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [Recordings] (
        [Id] uniqueidentifier NOT NULL,
        [MeetingId] uniqueidentifier NOT NULL,
        [FilePath] nvarchar(max) NOT NULL,
        [DurationSeconds] float NOT NULL,
        [SampleRate] int NOT NULL,
        [SizeBytes] bigint NOT NULL,
        [IsNoiseCleaned] bit NOT NULL,
        [AverageNoiseLevel] float NULL,
        [Status] nvarchar(max) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Recordings] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Recordings_Meetings_MeetingId] FOREIGN KEY ([MeetingId]) REFERENCES [Meetings] ([Id]) ON DELETE CASCADE
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [WhiteboardSessions] (
        [Id] uniqueidentifier NOT NULL,
        [MeetingId] uniqueidentifier NOT NULL,
        [StartedAt] datetime2 NOT NULL,
        [EndedAt] datetime2 NULL,
        CONSTRAINT [PK_WhiteboardSessions] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_WhiteboardSessions_Meetings_MeetingId] FOREIGN KEY ([MeetingId]) REFERENCES [Meetings] ([Id]) ON DELETE CASCADE
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [Transcripts] (
        [Id] uniqueidentifier NOT NULL,
        [MeetingId] uniqueidentifier NOT NULL,
        [RecordingId] uniqueidentifier NOT NULL,
        [Provider] nvarchar(max) NOT NULL,
        [Language] nvarchar(max) NULL,
        [Status] nvarchar(max) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Transcripts] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Transcripts_Meetings_MeetingId] FOREIGN KEY ([MeetingId]) REFERENCES [Meetings] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_Transcripts_Recordings_RecordingId] FOREIGN KEY ([RecordingId]) REFERENCES [Recordings] ([Id]) ON DELETE NO ACTION
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [WhiteboardEvents] (
        [Id] uniqueidentifier NOT NULL,
        [SessionId] uniqueidentifier NOT NULL,
        [UserId] uniqueidentifier NOT NULL,
        [Type] nvarchar(max) NOT NULL,
        [PayloadJson] nvarchar(max) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_WhiteboardEvents] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_WhiteboardEvents_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_WhiteboardEvents_WhiteboardSessions_SessionId] FOREIGN KEY ([SessionId]) REFERENCES [WhiteboardSessions] ([Id]) ON DELETE CASCADE
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [MeetingSummaries] (
        [Id] uniqueidentifier NOT NULL,
        [MeetingId] uniqueidentifier NOT NULL,
        [TranscriptId] uniqueidentifier NOT NULL,
        [SummaryText] nvarchar(max) NOT NULL,
        [KeyDecisionsJson] nvarchar(max) NULL,
        [ActionItemsJson] nvarchar(max) NULL,
        [GeneratedBy] nvarchar(max) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_MeetingSummaries] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_MeetingSummaries_Meetings_MeetingId] FOREIGN KEY ([MeetingId]) REFERENCES [Meetings] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_MeetingSummaries_Transcripts_TranscriptId] FOREIGN KEY ([TranscriptId]) REFERENCES [Transcripts] ([Id]) ON DELETE NO ACTION
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE TABLE [TranscriptLines] (
        [Id] uniqueidentifier NOT NULL,
        [TranscriptId] uniqueidentifier NOT NULL,
        [StartTimeSeconds] float NOT NULL,
        [EndTimeSeconds] float NOT NULL,
        [SpeakerUserId] uniqueidentifier NULL,
        [SpeakerLabel] nvarchar(max) NULL,
        [Text] nvarchar(max) NOT NULL,
        CONSTRAINT [PK_TranscriptLines] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_TranscriptLines_Transcripts_TranscriptId] FOREIGN KEY ([TranscriptId]) REFERENCES [Transcripts] ([Id]) ON DELETE CASCADE
    );
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_ChatMessages_MeetingId] ON [ChatMessages] ([MeetingId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_ChatMessages_SenderId] ON [ChatMessages] ([SenderId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_EngagementMetrics_MeetingId] ON [EngagementMetrics] ([MeetingId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_EngagementMetrics_UserId] ON [EngagementMetrics] ([UserId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_GroupMessages_GroupId] ON [GroupMessages] ([GroupId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_GroupMessages_SenderId] ON [GroupMessages] ([SenderId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_Groups_CreatedById] ON [Groups] ([CreatedById]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_MeetingParticipants_MeetingId] ON [MeetingParticipants] ([MeetingId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_MeetingParticipants_UserId] ON [MeetingParticipants] ([UserId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_Meetings_GroupId] ON [Meetings] ([GroupId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_Meetings_HostId] ON [Meetings] ([HostId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE UNIQUE INDEX [IX_MeetingSummaries_MeetingId] ON [MeetingSummaries] ([MeetingId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE UNIQUE INDEX [IX_MeetingSummaries_TranscriptId] ON [MeetingSummaries] ([TranscriptId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_Recordings_MeetingId] ON [Recordings] ([MeetingId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_TranscriptLines_TranscriptId] ON [TranscriptLines] ([TranscriptId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE UNIQUE INDEX [IX_Transcripts_MeetingId] ON [Transcripts] ([MeetingId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE UNIQUE INDEX [IX_Transcripts_RecordingId] ON [Transcripts] ([RecordingId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_UserGroups_GroupId] ON [UserGroups] ([GroupId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE UNIQUE INDEX [IX_Users_Email] ON [Users] ([Email]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_WhiteboardEvents_SessionId] ON [WhiteboardEvents] ([SessionId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_WhiteboardEvents_UserId] ON [WhiteboardEvents] ([UserId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_WhiteboardSessions_MeetingId] ON [WhiteboardSessions] ([MeetingId]);
END;

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260311132255_InitialCreate'
)
BEGIN
    INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
    VALUES (N'20260311132255_InitialCreate', N'10.0.2');
END;

COMMIT;
GO


